manifest {
  name        = 'antibody-design-pipeline'
  author      = 'DeepBio Limited'
  description = 'Reproducible antibody design pipeline (Nextflow DSL2)'
}

params {
  antigen = "data/antigen.pdb"
  heavy   = "data/heavy.fasta"
  light   = "data/light.fasta"
  hla_list = "data/hla_ii_common.txt"
  seed = 20250830
}

profiles {
  standard {
    process.executor = 'local'
  }

  conda {
    conda.enabled  = true
    conda.cacheDir = "$projectDir/.conda"
  }

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
  }

  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    process.queue    = 'general'
  }

  aws {
    process.executor = 'awsbatch'
  }
}